@import 'cons'
@import 'porfolio'
@import 'porfolios'

.header
	align-items center
	background-image url('../img/architecture-business-cabinet-325229.webp')
	background-repeat no-repeat
	background-size cover
	color white
	display flex
	flex-direction column
	justify-content center
	text-align center
	a
		img
			border-radius 10px
			margin-top 1em
			max-height 50px
	h1
		margin-top 0
	h3
		margin 0
		padding-bottom 1.5em
		margin-left .5em
		margin-right .5em

@import 'mediaquery'
