@import 'normalize'
@import 'cons'
@import 'colors'
@import 'footer'

.header
	align-items center
	background-image url('../img/architecture-business-cabinet-325229.webp')
	background-position center
	background-repeat no-repeat
	background-size cover
	color white
	display flex
	flex-direction column
	justify-content center
	min-height 40vh
	text-align center
	h2
		margin 0.5em
	img
		margin 2em auto
		height 80px
		border-radius 10px
	p
		max-width 768px
		padding-bottom 2em

@import 'mediaquery'