.portfolio
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-evenly
	margin 1em
	[class^=porfolio-]
		background-size cover
		background-repeat no-repeat
		background-position center
		border-radius 20px
		color white
		margin 1em
		// min-height 300px
		min-width 280px
		text-align center
	.porfolio-service-auditoriaWeb
		background-image url('../img/porfolio/auditoria.webp')
	.porfolio-service-desarrolloWeb
		background-image url('../img/porfolio/code.webp')
	.porfolio-service-seo
		background-image url('../img/porfolio/desarrolloweb.webp')
	.porfolio-service-marketingOnline
		background-image url('../img/porfolio/servers.webp')
	.porfolio-service-disenio
		background-image url('../img/porfolio/desarrolloweb.webp')
	.porfolio-service-cursos
		background-image url('../img/porfolio/cursos.webp')
	.porfolio-service-tienda
		background-image url('../img/porfolio/tienda.webp')
	.porfolio-service-blog
		background-image url('../img/porfolio/blog.webp')