doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// link
		<link rel="icon" href="./assets/img/logo.png">
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
		// block, include)
		link(rel="stylesheet" href="./assets/css/index.css")

		title RedChainCo
	body
		main
			header.header
				a(href="https://redchain.co/")
						img(src="./assets/img/logoSquareBlack.png")
				// header
				include:markdown-it(html) ../md/header.md
			//portfolio
			include porfolio
	// footer
	include footer