.portfolio
	a(href="#")
		.porfolio-service-desarrolloWeb
			h2 Desarrollo web
			p Páginas web y tiendas online a la medida desarrolladas en código y/o CMS.
	a(href="#")
		.porfolio-service-disenio
			h2 Diseño gráfico
			p Expertos en el diseño online "UX | UI" e impreso (Volantes, pendones, tarjetas, etc).
	a(href="#")
		.porfolio-service-auditoriaWeb
			h2 Auditoría web
			p  Auditamos el código, SEO, indexación en google y Seguridad de tu sitio web.
	a(href="#")
		.porfolio-service-seo
			h2 SEO Site
			p Trabajamos el posicionamiento web de tu página web para que escale en Google.
	a(href="#")
		.porfolio-service-marketingOnline
			h2 Marketing online
			p  Desarrollo de plan de marketing online y neuromarketing de 0 a 100.
	a(href="#")
		.porfolio-service-socialMedia
			h2 Social Media
			p  Manejo de diferentes redes sociales, campañas, post, analiticas y alcance.
	a(href="#")
		.porfolio-service-empateTecnologico
			h2 Empate Tecnológico
			p Es un sistema que te ayuda a medir el alcance de tu publicidad online e impresa.
	a(href="#")
		.porfolio-service-seguridadInformatica
			h2 Seguridad Informática
			p  Aprende las báses de la seguridad informática para no expertos (Windows, Linux, Mac, Android).
	a(href="#")
		.porfolio-service-blog
			h2 Leer Blog
			p Conoce de manera rápida y fácil el mundo de la informática y las opiniones de diversos temas.
	a(href="#")
		.porfolio-service-ofertasDeTrabajo
			h2 Ofertas Trabajo
			p Diferentes ofertas de trabajo para programadores, diseñadores, Mkt, SEO's, (En lationamérica).
	a(href="#")
		.porfolio-service-cursos
			h2 Cursos online
			p Cursos online sobre sistemas, programación, redes sociales, marketing, seguridad informática, etc.
	a(href="#")
		.porfolio-service-tienda
			h2 Tienda
			p La tienda más geek del habla hispana con productos disponibles y en Amazon.
	a(href="#")
		.porfolio-service-seminarios
			h2 Semiarios Online
			p Convenio de seminarios online y presenciales para un mundo cambiante y lleno de tecnología.
	a(href="#")
		.porfolio-service-portafolioDeClientes
			h2 Nuestro portafolio
			p Nuestro portafolio de trabajo en áreas como desarrollo, auditorías, diseño, entre otros.
	a(href="#")
		.porfolio-service-reviews
			h2 Ver reviews
			p  Algunos de los reviews de nuestros clientes, su experiencia, expectativas y logros.